.burger-btn {
    //Сброс стилей для кнопок и ссылок

    border: none;
    background-color: transparent;
    cursor: pointer;

    outline: none;
    display: block;
    width: 30px;
    height: 30px;

    //Рисуем линии в обычном состоянии
    &__line,
    &__line::before,
    &__line::after {
        position: absolute;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #fff;
    }
    &__line::before,
    &__line::after {
        content: "";
        transition: 0.3s;
    }
    //Выравниваем по высоте
    &__line {
        top: calc(50% - 1px);
    }
    &__line::before {
        top: -10px;
    }
    &__line::after {
        top: 10px;
    }

    //burger-btn--close
    &--close &__line {
        width: 0;
    }

    &--close &__line::before {
        top: 0;
        left: 0;
        transform: rotate(45deg);
    }

    &--close &__line::after {
        top: 0;
        left: 0;
        transform: rotate(-45deg);
    }
}