// TODO - добавить media

.logo {
    &__link {
        text-decoration: none;
        display: flex;
    }

    &__text {
        margin-left: 10px;
        display: flex;
        flex-flow: column wrap;
    }

    &__svg--img {
        width: 30px;
        height: 30px;
    }
    &__svg--img1 {
        fill: $technogreen;
    }
    &__svg--img2 {
        fill: $bg-light;
    }

    &__svg--tecnopolis {
        fill: $bg-light;
    }

    &__svg--industrial {
        fill: $bg-light;
    }

    // modify COLUMN
    &--column &__link {
        flex-flow: column wrap;
        align-items: center;
    }
    &--column &__text {
        margin-top: 10px;
        align-items: center;
    }

    // modify DARK
    &--dark &__svg--img2,
    &--dark &__svg--tecnopolis,
    &--dark &__svg--industrial {
        fill: $bg-dark;
    }
}