@font-face{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    src: url('fonts/NotoSans-Regular.ttf');
}

@font-face{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    src: url('fonts/NotoSans-Regular.ttf');
}